@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./icons.css");
@import url("./sidebar.css");
@import url("./mobile.css");
@import url("./nav.css");
@import url("./map.css");

:root {
  --color-primary: blueviolet;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.7rem;
  font-weight: 900;
}

p {
  opacity: 0.6;
}

.layout {
  display: flex;
  height: calc(100vh - (30px + 2rem));
}
