@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./icons.css");
@import url("./sidebar.css");
@import url("./mobile.css");

:root {
  --color-primary: blueviolet;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  overflow: hidden;
}

h1 {
  font-size: 1.7rem;
  font-weight: 900;
}

p {
  opacity: 0.6;
}

#map {
  flex: 1;
  height: 100vh;
  position: relative;
  z-index: 50;
  transition: transform 0.3s ease;
}




