<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Living Urban</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/static/lib/geocoder/Control.Geocoder.css" />

    <script src="/static/lib/leaflet/leaflet.js"></script>
    <script src="/static/lib/turf.min.js"></script>
    <script src="/static/lib/geocoder/Control.Geocoder.js"></script>
    <script src="/static/lib/chart.js"></script>
  </head>
  <body>
    <aside id="sidebar">
      <main>
        <h1>Land Location Estimate Valuation</h1>
        <p>
          Supporting your assessment of your selected land area. Currently 200
          meter radius estimation
        </p>
        <h3>Overall Report</h3>
        <div class="chart">
          <canvas id="chart"></canvas>
        </div>
        <div class="road-result">
          <div>Walking distance to nearest road:</div>
          <div class="road-distance">
            <span id="road-distance">0</span> meters
          </div>
          <button class="more-information">More Information</button>
        </div>
        <div class="instruction">
          <h3>How to use</h3>
          <p>Click on to map to see the details.</p>
        </div>
      </main>

      <footer>
        <button id="new-data" class="new-data disable">New Location</button>
      </footer>
    </aside>

    <main id="map"></main>
  </body>
  <script type="module" src="/static/js/main.js"></script>
</html>
