<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Land Estimate</title>
    <link rel="stylesheet" href="/static/css/map.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
    />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <aside id="sidebar">
      <main>
        <h1>Land Location Estimate Valuation</h1>
        <p>
          Supporting your assessment of your selected land area. Currently 200
          meter radius estimation
        </p>
        <h3>Overall Report</h3>
        <div class="chart">
          <canvas id="chart"></canvas>
        </div>
        <div class="road-result">
          <div>The nearest walking distance is:</div>
          <div class="road-distance">
            <span id="road-distance">0</span> meters
          </div>
          <button class="more-information">More Information</button>
        </div>
        <div class="instruction">
          <h3>How to use</h3>
          <p>Click on to map to see the details.</p>
        </div>
      </main>

      <footer>
        <button id="new-data" class="new-data disable">New Location</button>
      </footer>
    </aside>

    <main id="map"></main>
  </body>
  <script type="module" src="/static/js/main.js"></script>
</html>
